In [8]:
import pandas as pd
import mysql.connector
import numpy as np

In [9]:
df1 = pd.read_csv(r"D:\vscode1\redbus_selenium\ap2.csv")
df2 = pd.read_csv(r"D:\vscode1\redbus_selenium\as2.csv")
df3 = pd.read_csv(r"D:\vscode1\redbus_selenium\ch2.csv")
df4 = pd.read_csv(r"D:\vscode1\redbus_selenium\HR2.csv")
df5 = pd.read_csv(r"D:\vscode1\redbus_selenium\j&K2.csv")
df6 = pd.read_csv(r"D:\vscode1\redbus_selenium\kada2.csv")
df7 = pd.read_csv(r"D:\vscode1\redbus_selenium\kr2.csv")
df8 = pd.read_csv(r"D:\vscode1\redbus_selenium\Ts2.csv")
df9 = pd.read_csv(r"D:\vscode1\redbus_selenium\up2.csv")
df10 = pd.read_csv(r"D:\vscode1\redbus_selenium\wb2.csv")

In [10]:

final_df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],ignore_index = True)

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2088 non-null   object
 1   Bus_type         2051 non-null   object
 2   Start_time       2088 non-null   object
 3   End_time         2088 non-null   object
 4   Total_duration   2088 non-null   object
 5   Price            2085 non-null   object
 6   Seats_Available  2066 non-null   object
 7   Rating           2045 non-null   float64
 8   Route_link       2770 non-null   object
 9   Route_name       2770 non-null   object
dtypes: float64(1), object(9)
memory usage: 216.5+ KB

In [12]:
final_df["Price"]=final_df["Price"].str.replace("INR","")

In [13]:
final_df["Price"]=final_df["Price"].astype(float)

In [14]:
final_df["Price"]

0       737.0
1       412.0
2       737.0
3         NaN
4         NaN
        ...
2765    524.0
2766    524.0
2767    524.0
2768    524.0
2769    524.0
Name: Price, Length: 2770, dtype: float64

In [15]:
final_df["Price"].fillna(0)

0       737.0
1       412.0
2       737.0
3         0.0
4         0.0
        ...
2765    524.0
2766    524.0
2767    524.0
2768    524.0
2769    524.0
Name: Price, Length: 2770, dtype: float64

In [16]:
final_df = final_df.replace({np.nan: None})

In [ ]:
final_df["Rating"].fillna(0,inplace=True)

In [18]:
final_df["Rating"]

0       3.9
1       4.0
2       3.8
3       0.0
4       0.0
       ...
2765    4.5
2766    4.0
2767    0.0
2768    0.0
2769    0.0
Name: Rating, Length: 2770, dtype: float64

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2088 non-null   object
 1   Bus_type         2051 non-null   object
 2   Start_time       2088 non-null   object
 3   End_time         2088 non-null   object
 4   Total_duration   2088 non-null   object
 5   Price            2085 non-null   object
 6   Seats_Available  2066 non-null   object
 7   Rating           2770 non-null   float64
 8   Route_link       2770 non-null   object
 9   Route_name       2770 non-null   object
dtypes: float64(1), object(9)
memory usage: 216.5+ KB

Create a mysql database

In [21]:
# change dataframe to csv
final_df.to_csv("final.csv",index=False)

In [25]:
import mysql.connector
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="",
#database='Joins'
)

In [26]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000258E506BD00>

In [27]:
mycursor=mydb.cursor(buffered=True)

In [28]:
mycursor.execute("CREATE DATABASE REDBUS")

In [29]:
mycursor.execute("use REDBUS")

In [30]:
# Table Creation
mycursor.execute('''CREATE TABLE bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Rating Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [31]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Rating,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = final_df.values.tolist()

mycursor.executemany(insert_query, data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully